// Here you can add other styles
@media (min-width: 992px){
    html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper{
      margin: 0;
    }
}
$body-bg:  #181818;
$body-top:#202020;
$concent-bg:#212121;
$body-color: #FFFFFF;
$confere_fast_bg:#212121;
/* 全体的css */
.c-app.c-dark-theme {
    color: $body-color;
    background-color: $body-bg;
}


.c-app.c-dark-theme{
    //会议
	.dasboard_global{
        .title_g{
            color:$body-color;
        }
        .dasboard_top{
            background: url('~@/views/gallery/dash_oneback.png')no-repeat;
            background-size: 100%;
            .top_zuo{
				.top_title{
					background: url('~@/assets/imgs/l5s_logo_bai.png')no-repeat;
                    background-size: 100%;
                }
                .top_zuo_zuo{
                    color:$body-color;
                    div{
                        opacity:0.7;
                    }
                    span{
                        opacity:0.4;
                    }
				}
            }
            .top_you{
                .top_you_butt{
                    background: url('~@/views/gallery/dash_oneicon.png')no-repeat center center;
                }
            }
		}
        .dasboard_content{
            background-color: $confere_fast_bg;
            .content_title_back{
				background: url('~@/assets/imgs/l5s_logo_bai.png')no-repeat;
			}
            .content_con_title{
                .content_con_title_size{
                    color:$body-color;
                }
            }
            .content_size_ag{
				color: $body-color;
			}
            .conten_buttom{
				.conten_buttom_dian1{
					background:rgba(38,165,82,1);
				}
				.conten_buttom_size{
					color: $body-color;
				}
			}
        }
        // 设置
        .setting_all{
            .setting_zuo{
                background-color: $confere_fast_bg;
            }
        }
    }
     //视频
     .particiants{
         .particiants_content{
             .content_zuo{
                .el-collapse{
                    border: none;
                    .el-collapse-item__header{
                        color: #FFFFFF;
                        background-color: #2E2E2E;
                        opacity: 0.7;
                        border: none;
                        padding: 0 7px;
                    }
                    .el-collapse-item__wrap{
                        background: none;
                        border-bottom: none;
                        .el-collapse-item__content{
                            padding: 0;
                            color: #FFFFFF;
                            // opacity: 0.7;
                        }
                    }
                }
             }
         }
     }
    //设置内左边栏
    .setting_all{
        .setting_you{
            background-color: #171717;
            
        }
    }
    .el-menu{
        border: none;
    }
    //顶部
    /*下拉*/
    .c_logo{
        background: url("~@/assets/imgs/l5s_logo1.png") center center no-repeat;
        background-size: 85%;
    }
    .c_ding{
		color: $body-color;
        background-color: $body-top;
        .c_logo{
            background: url("~@/assets/imgs/l5s_logo1.png") center center no-repeat;
            background-size: 85%;
        }
		.toggler{
			border: none !important;
			color: $body-color;
		}
	}
    .btn-link{
        color: $body-color;
        text-decoration: none;
    }
    .dropdown-menu{
        min-width: 80px;
    }



    // 表格
    .el-tabs--border-card{
        margin-top: 8px;
        background: none;
        border: none;
        .el-tabs__nav-scroll{
            display: flex;
            justify-content: center;
        }
        .el-tabs__header{
            background-color: #111111;
            border: none;
            .el-tabs__item{
                color: $body-color;
                border: none;
            }
            .el-tabs__item.is-active{
                background: none;
                color: $body-color;
                border: none;
                border-bottom: 3px solid #3177FF;
            }
        }
    }
    
    //弹出框
    .el-dialog{
        width: 25%;
        background-color: $concent-bg;
        .conten_buttom_but{
            padding: 5px 30px;
            background:#3277FF;
            font-size:14px;
            font-family:PingFang SC;
            font-weight:600;
            color:rgba(255,255,255,1);
        }
        
    }
    
    .el-input__inner{
        background: none!important;
        color:rgba(255,255,255,1)!important;
    }
    .el-input-number__decrease, .el-input-number__increase{
        background: none;
    }
    .el-dialog__body{
        color: #FFF;
    }
    .el-dialog__title{
        color: #FFF;
    }
    .el-form-item__label{
        color: #FFF;
    }
    .el-input__inner{
        color: #FFF !important;
        border:1px solid rgba(181,181,181,1);
    }
    .el-range-input{
        color: #FFF !important;
        background: none;
        border: none;
    }
    .el-radio-group{
        display: flex;
        justify-content: space-around;   
        align-items: center; 
        .el-radio{
            color: #FFF;
        }
    }
    // 表格
    .el-table {
        min-height: 85vh;
        background: none
    }
    .el-table__empty-block{
        min-height: 80vh;
        background: none{
            repeat:no-repeat;
            position:center
        }
        background-image: url('~@/assets/imgs/setting_tober1.png');
        background-size: 18%;
        .el-table__empty-text{
            display: none;
        }
    }
     .el-table th, .el-table tr{
        background-color: #252525 !important;
    }
    .el-table__header th, .el-table__header tr{
        background-color: #3c3c3c !important;
    }
    .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: $body-bg !important;
    }
     .el-table__body tr:hover>td {
      background:none!important;
    }
     .el-table__body tr.hover-row>td{
      background-color: #252525!important;
    }
     .el-table td, .el-table th.is-leaf {
        color:rgba(255,255,255,1);
        border: none!important;
    }
    /* 分页 */
    .el-pagination li{
        background: none!important;
        color: #FFFFFF;
    }
    .el-pagination button{
        background: none!important;
        color: #FFFFFF!important;
    }
    // 表格 选项
    // 表格
    .el-checkbox__inner{
        background-color: #494B4E !important;
        border-radius: 50px !important;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
        background-color: #3277FF !important;
        border-color: rgba(255,255,255,1) !important;
    }
} 

//所有弹窗html > body table + ul 
/* 时间 */
.c-app.c-dark-theme ~ .el-popper{
        background-color: #181818 !important;
        border:none !important;
        color: #FFFFFF !important;
        .el-input__inner{
            background: none;
            color: $body-color;
        }
        .el-picker-panel__footer{
            background-color: #181818 !important;
            border:none !important;
        }
        .el-picker-panel__footer .is-plain{
            background-color: #3277FF;
            border: none;
            color: #FFFFFF;
        }
        .el-select-dropdown__item.selected{
            background: #181818  !important;
            color: #3277FF !important;
        }
        
        .el-select-dropdown{
            background: #252525 !important;
            border: 1px solid #B5B5B5 !important;
        }
        .el-select-dropdown__item{
            color:rgba(255,255,255,1)!important;
        }
        .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
            background-color: #4F5255!important;
        }
}

/* 左边菜单栏 */
.c-app.c-dark-theme .c-sidebar {
    min-width: 220px;
    width: 12%;
    color: #000;
    background:$concent-bg;
    border: 0;
}
.c-dark-theme .c-sidebar .c-sidebar-nav-title {
    color: $body-color;
}
.c-dark-theme .c-sidebar .c-sidebar-nav-link{
    color: $body-color;
}
.el-checkbox__inner{
    border-radius: 50px !important;
}
