// If you want to override variables do it here
@import "variables";

// Optional
@import "~@coreui/coreui-pro/scss/coreui";

// 黑.c-dark-theme

// If you want to add something do it here
@import "custom";

.c-body::-webkit-scrollbar{
    display: none;
}
//全局按钮
button:focus{
    outline: none !important;
}