@font-face {
  font-family: "iconfont"; /* Project id 1820585 */
  src: url('iconfont.woff2?t=1624329164182') format('woff2'),
       url('iconfont.woff?t=1624329164182') format('woff'),
       url('iconfont.ttf?t=1624329164182') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongshezhi:before {
  content: "\e63b";
}

.icon-yangshengqi1:before {
  content: "\e638";
}

.icon-kaiqishexiangtou:before {
  content: "\e67b";
}

.icon-kaiqishexiangtou1:before {
  content: "\e62c";
}

.icon-tubiao_huaban1fuben8:before {
  content: "\e637";
}

.icon-ziyuan1:before {
  content: "\e630";
}

.icon-ziyuan2:before {
  content: "\e631";
}

.icon-ziyuan3:before {
  content: "\e632";
}

.icon-ziyuan4:before {
  content: "\e636";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-play:before {
  content: "\e701";
}

.icon-add:before {
  content: "\e742";
}

.icon-ashbin:before {
  content: "\e744";
}

.icon-browse:before {
  content: "\e745";
}

.icon-download:before {
  content: "\e74d";
}

.icon-reduce:before {
  content: "\e75e";
}

.icon-guiding:before {
  content: "\e76a";
}

.icon-chakanshipin:before {
  content: "\e62f";
}

.icon-shipin1:before {
  content: "\e649";
}

.icon-videofill:before {
  content: "\e635";
}

.icon-full:before {
  content: "\e62d";
}

.icon-roundclosefill:before {
  content: "\e62e";
}

.icon-tubiao_huaban1fuben9:before {
  content: "\e61d";
}

.icon-tubiao_huaban1fuben7:before {
  content: "\e61e";
}

.icon-tubiao_huaban1fuben6:before {
  content: "\e620";
}

.icon-tubiao_huaban1fuben5:before {
  content: "\e623";
}

.icon-tubiao_huaban1fuben4:before {
  content: "\e625";
}

.icon-tubiao_huaban1fuben3:before {
  content: "\e626";
}

.icon-tubiao_huaban1fuben2:before {
  content: "\e627";
}

.icon-tubiao_huaban1fuben:before {
  content: "\e629";
}

.icon-tubiao_huaban1:before {
  content: "\e62a";
}

.icon-lianxiren:before {
  content: "\e64f";
}

.icon-rongqiyun:before {
  content: "\e7b0";
}

.icon-xieyi:before {
  content: "\e61f";
}

.icon-huiyiguanli1:before {
  content: "\e61b";
}

.icon-rizhi:before {
  content: "\e634";
}

.icon-xitongweihu:before {
  content: "\e741";
}

.icon-zantingtingzhi:before {
  content: "\e601";
}

.icon-shuaxin:before {
  content: "\e65d";
}

.icon-mingpianhuanfu:before {
  content: "\e61a";
}

.icon-API:before {
  content: "\e63e";
}

.icon-ico:before {
  content: "\e614";
}

.icon-zhongqi:before {
  content: "\e612";
}

.icon-wenjian:before {
  content: "\e628";
}

.icon-tichu:before {
  content: "\e6e4";
}

.icon-kongzhitai:before {
  content: "\e611";
}

.icon-extend-copy:before {
  content: "\e613";
}

.icon-yangshengqi:before {
  content: "\e6e8";
}

.icon-baobaokanhuyidingzhiLOGO-:before {
  content: "\e63a";
}

.icon-yaoqingruhui:before {
  content: "\e617";
}

.icon-shexiangtou:before {
  content: "\e62b";
}

.icon-dianduidian-:before {
  content: "\e60f";
}

.icon-zhuomiangongxiang1:before {
  content: "\e60e";
}

.icon-yuyin1:before {
  content: "\e60c";
}

.icon-shexiangjikongzhi-2:before {
  content: "\e60d";
}

.icon-duorenhuiyikuaizhuang:before {
  content: "\e622";
}

.icon-shezhi:before {
  content: "\e609";
}

.icon-shexiangjikongzhi:before {
  content: "\e643";
}

.icon-fullscreen:before {
  content: "\e604";
}

.icon-yuyin:before {
  content: "\e616";
}

.icon-shexiangji:before {
  content: "\e64e";
}

.icon-guaduan:before {
  content: "\e633";
}

.icon-zhuomiangongxiang:before {
  content: "\e699";
}

.icon-yibiaopan1:before {
  content: "\e619";
}

.icon-shezhi_guanli:before {
  content: "\e660";
}

.icon-WebRTC:before {
  content: "\e675";
}

.icon-transcode-management:before {
  content: "\e624";
}

.icon-huiyiguanli:before {
  content: "\e6bf";
}

.icon-huiyiguanli-:before {
  content: "\e603";
}

.icon-hanbaobao:before {
  content: "\e669";
}

.icon-qita:before {
  content: "\e642";
}

.icon-guanyu:before {
  content: "\e615";
}

.icon-shangchuan:before {
  content: "\e608";
}

.icon-tianjiashijianicon:before {
  content: "\e621";
}

.icon-guanbi6:before {
  content: "\e606";
}

.icon-search1:before {
  content: "\e605";
}

.icon-chazhaobiaodanliebiao:before {
  content: "\e607";
}

.icon-shangchuan1:before {
  content: "\e60a";
}

.icon-11111:before {
  content: "\e60b";
}

.icon-youjian:before {
  content: "\e6e0";
}

.icon-yonghuming:before {
  content: "\e610";
}

.icon-suozi:before {
  content: "\e63d";
}

.icon-zhaoxiangji:before {
  content: "\e600";
}

.icon-xialacaidan:before {
  content: "\e67a";
}

.icon-rili:before {
  content: "\e618";
}

.icon-huiyi:before {
  content: "\e668";
}

.icon-huiyi1:before {
  content: "\e61c";
}

.icon-fanhui:before {
  content: "\e602";
}

.icon-tuichudenglu:before {
  content: "\e70b";
}

.icon-chakan:before {
  content: "\e760";
}

